<div id="intro-small" class="container-fluid section section-top dark bluebg">
	<div class="row">

		<%= link_to (image_tag("logo.png", class: "logo", alt: "Logo of Trevor AI")), root_path %>
		<h3 class="animated fadeIn"><%= link_to "Home", root_path %> / Blog</h3>
	
	</div>
	
</div>

<div id="blog" class="container-fluid section">
	<div class="container">

		<blockquote class="embedly-card" data-card-key="eaec254d0a554451aa95b2e0ada4430b" data-card-branding="0"><h4><a href="https://medium.com/@trevorlabs/a-powerful-insight-about-time-that-changed-my-life-84928faabe5c#.g3p9t7itx">A powerful insight about Time, that changed my life.</a></h4><p>A short story about productivity and personal growth. Life is made up of tasks, habits and people, all of which contribute to our lifestyle. We all have passions, we set goals, sometimes we even do something about actually achieving those goals. We are all makers, believers, creators, doers and we all want to be achievers, even "superheroes".</p></blockquote>
		<hr/>
		<blockquote class="embedly-card" data-card-key="eaec254d0a554451aa95b2e0ada4430b" data-card-type="article-full"><h4><a href="https://medium.com/@trevorlabs/to-do-s-calendar-61b0660fcbd2#.e2xcyhcpb">To-do's ❤ Calendar</a></h4><p>A sexier approach to time management Our goals are never as simple as a to-do list, and our time is never as simple as a calendar. With hundreds of great productivity apps on the market we often find ourselves juggling all of those tasks, goals, habits, events and meetings.</p></blockquote>
		<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
	</div>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72755983-1', 'auto');
  ga('send', 'pageview');

</script>

<script type="text/javascript">mixpanel.track("Blog Page Visit");</script>