<!-- <div id="header" class="container-fluid dark bluebg">
	
		<div class="logo2IconOnly"></div>
		<h2 class="text-center">Task Inbox</h2>
	
</div> -->

<% content_for :title, "Inbox" %>

<div id="listDemo" class="container-fluid">
	<div class="row">
		<div class="search">
			<input placeholder="Search..."></input>
		</div>
		<div class="taskLists">
			<h2 class="listTitle">#home</h2>
			<ul class="list">
				<!-- <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> -->
				<li>Groceries</li>
				<li>Buy door knob</li>
				<li>Call TV repairman</li>
			</ul>
			<h2 class="listTitle">#work</h2>
			<ul class="list">
				<li>Marketing report</li>
				<li>Leadership seminar</li>
				<li>Organize product meeting</li>
			</ul>
			<h2 class="listTitle">#projectX</h2>
			<ul class="list">
				<li>Sketch the product</li>
				<li>Buy hardware parts</li>
				<li>Prototype hardware</li>
			</ul>
		</div>
		<br/>
		<br/>
		<br/>
		<p class="text-center gray">This is a Demo Inbox for Demo purposes</p><br/>
	</div>
</div>
