<!-- <div id="header" class="container-fluid dark bluebg">
	
		<div class="logo2IconOnly"></div>
		<h2 class="text-center">Task Inbox</h2>
	
</div> -->

<% content_for :title, "Daily Schedule" %>

<div id="scheduleDemo" class="container-fluid">
	<div class="row">
		<p class="text-center">Monday, January 9th</p>
		<br/>

		<div class="timeline col-xs-2">
			<p>8:00</p>
			<p>9:00</p>
			<p>10:00</p>
			<p>11:00</p>
			<p>12:00</p>
			<p>13:00</p>
			<p>14:00</p>
			<p>15:00</p>
			<p>16:00</p>
			<p>17:00</p>
			<p>18:00</p>
			<p>19:00</p>
			<p>20:00</p>
			<p>21:00</p>
			<p>22:00</p>
			<p>23:00</p>
			<p>24:00</p>
		</div>
		<div class="schedule col-xs-10">
			<div class="daySection morning">
				<div class="daySectionIcon iconMorning">
					<h2 class="daySectionTitle">Morning</h2>
				</div>
				
				<p class="task">Breakfast</p>
				<p class="task">Yoga</p>

			</div>
			<div class="daySection work">
				<div class="daySectionIcon iconWork"><h2 class="daySectionTitle">Work</h2></div>
				<p class="task">Financial report draft</p>
				<p class="task">Email Matt</p>
				<p class="task">Meeting with Jennifer at 14:00</p>
			</div>
			<div class="daySection evening">
				<div class="daySectionIcon iconEvening"><h2 class="daySectionTitle">Evening</h2></div>
				<p class="task">Dentist Appointment at 18:00</p>
				<p class="task">Pick up Matt</p>
			</div>
			<div class="daySection night">
				<div class="daySectionIcon iconNight"><h2 class="daySectionTitle">Night</h2></div>
				<p class="task">Movie Night</p>
			</div>
		</div>
		<div class="col-xs-12">

			<br/>
		<br/>
		<br/>
		<p class="text-center gray">This is a Demo Schedule for Demo purposes</p><br/>

		</div>
	</div>
</div>

