html, body {

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	min-width: 100%;
}

.navbar {
	margin-bottom: 0;
}

h1 {
	font-size: 3.5em;
	font-weight: 200;
}

h2 {
	font-size: 3em;
	font-weight: 100;
}

h3 {
	font-size: 2em;
	font-weight: 200;
}

h4 {
	font-size: 1.6em;
	font-weight: 300;
}

p {
	font-size: 1.4em;
	color: rgba(0,0,0,0.65);
	font-weight: 300;

	.sub-text {
		font-size: 0.7em !important;
		font-weight: 400;
	}
}

ul {
	padding-bottom: 30px;
	li {
		font-size: 1.4em;
		color: rgba(0,0,0,0.65);
		font-weight: 300;
	}
}

.gray {
	color: gray;
}

.light-gray {
	color: rgb(170,170,170);
}

.dark-red {
	color: #991A45;
}

.zen-green {
	color: rgb(67,179,164);
}

.emphasize-color {
	color: #00ccff;
}

.dark-blue {
	color: rgb(0,140,180);
}

.section {
	padding-top: 150px;
	padding-bottom: 150px;
}

.section-top {
	padding-top: 0;
}

.dark {
		color: white;
	p {
		color: darken(white, 25%);
	}
}

.shadow {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

.bluebg {
	background: rgb(41,93,145);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmU2Y2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(41,93,145,1) 0%, rgba(130,230,203,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295d91', endColorstr='#82e6cb',GradientType=1 ); /* IE6-8 */
}

.faded {
	opacity: 0.5;
}

.flip-img {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}


#intro {
	height: 700px;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	.row {

		.logo {
			width: 301px;
			margin-top: 120px;
		}

		h4 {
			margin-top: 50px;
			line-height: 1.5em;
		}
	}
	.download {
		form {
			padding: 0;
		}
	}

	&.intro-short {
		height: 400px;
		padding-top: 0;
		padding-bottom: 0;
		.logo {
			margin-top: 60px;
		}
	}
}

#intro-small {
	height: 300px;
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	.logo {
		width: 200px;
		margin-top: 60px; 
	}
	h3 {
		margin-top: 25px;
		a {
			color: rgba(255,255,255,0.6);
			text-decoration: underline;
			&:hover {
				color: rgba(255,255,255,0.8);
			}
		}
	}
}


.app-icon {
	height: 100px;
}

	
#framework {
	max-width: 100%;
	background-color: rgb(245,245,245);
	padding-top: 50px;
	@media (max-width: 992px) {
		padding-bottom: 200px;
		h2 {
			text-align: center;
		}
	}
	h2 {
		color: rgb(0,140,180);
		font-weight: 300;
		font-size: 2.5em;
		&.text-left {
			margin-left: 38px;
		}
	}
	hr {
		margin: 75px 0;
	}
	p {
		font-size: 1.2em;
	}
	.benefitList {
		text-align: left;
		margin-bottom: 0;
		padding-top: 30px;
		padding-bottom: 0;
		list-style: none;
		li {
			min-height: 60px;
			vertical-align: center;
			font-size: 1.2em;
		}
		.positive {
			background: image-url("checkmark.png") no-repeat left top;
			background-size: 30px;
			padding: 3px 3px 3px 40px;
			margin: 0; 
		}
		.negative {
			background: image-url("x.png") no-repeat left top;
			background-size: 30px;
			padding: 3px 3px 3px 40px;
			margin: 0; 
		}
		.quote {
			color: rgb(170,170,170);
			padding-top: 20px;
		}
	}
	hr.small {
		margin: 10px 0 20px 0;
	}
	p.probability {
		text-align: left;
		padding-left: 38px;
		color: rgb(200,200,200);
	}
	img {
		width: 70%;
	}
	.add_to_schedule {
		width: 650px;
		margin: 20px 0;
		@media (max-width: 992px) {
			width: 100%;
			padding-right: 20px;
		}
	}
	.focus {
		width: 650px;
		margin: 50px 0;
		@media (max-width: 992px) {
			width: 100%;
		}
	}
	.matt {
		width: 250px;
		position: absolute;
		right: 5%;
		bottom: 0;
		@media (max-width: 992px) {
			bottom: -250px;
		}
	}
	.path_left_right, .path_right_left {
		width: 35%;
		margin: 20px 35% 20px auto
	}
	.path_main {
		width: 70%;
		margin: 20px 0;
	}
	.path_straight {
		height: 100px;
		width: auto;
		margin: 30px auto;
	}
	a {
		text-decoration: none;
	}
	#card_share {
		background: rgb(255,255,255);
		font-size: 1.3em;
		border-radius: 7px;
		width: 350px;
		height: 70px;
		color: black;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
	}
	.card_share {
		height: 100%;
		width: 100%;
		border-radius: 7px;
		background: image-url("heart.png") no-repeat 17px 17px;
		background-size: 40px;
		padding: 22px 20px 18px 35px;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		&:hover {
			box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
			background: image-url("checkmark_green.png") no-repeat 17px 22px;
			background-size: 40px;
			text-decoration: none;
			text-decoration: line-through;
			-o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
		}
		&.completedState {
			background: image-url("checkmark_green.png") no-repeat 17px 22px;
			background-size: 40px;
			text-decoration: line-through;
		}
	}


	&.fi-framework {
		.intro {
			padding: 0 50px;
		}
		.path_straight {
			width: 3px;
		}
		.subtitle {
			font-size: 1.5em;
		}
		.stats {
			padding-left: 180px;
		}
		img.weapons {
			width: 350px;
			margin: 40px 0;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
		}
	}


}

#demo {
	max-width: 100%;
	.schedule {
		padding-top: 180px;
		@media (max-width: 1200px) { 
			font-size: 0.8em;
		}
	}	
	.mockup {
		position: relative;
		top: -130px;
		height: 700px;
		width: 415px;
		margin: 0 auto;
		@media (max-width: 992px) {
			width: 100%;
			top: 50px;
			max-width: 300px;
		}

		.placeholder {
			position: relative;
			// @media (max-width: 768px) {
			// width: 500px;
			// }

			.iPhoneMockup {
			height: 800px;
			@media (max-width: 992px) {
					max-height: 550px;
				}
			}

			.arrowRight {
				width: 200px;
				position: absolute;
				left: -180px;
				top: 200px;
			}

			.arrowLeft {
				width: 200px;
				position: absolute;
				right: -180px;
				top: 490px;
			}
		}
		.demoVideo {
			position: absolute;
			top: 105px;
			left: 50px;
			@media (max-width: 992px) {
				top: 75px;
				left: 35px;
			}
		}

		h3 {
			padding-top: 20px;
		}


	}
	.todo {
		padding-top: 180px;
		@media (max-width: 1200px) { 
			padding-left: 100px;
			font-size: 0.8em;
		}
	}
}




#meettrevor {
	background-color: rgb(30,30,30);
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	h3 {
		font-size: 1.7em;
	}
}

.download {
	padding: 0;
	#mc_embed_signup {
		height: 100%;
		background-color: rgba(255,255,255,0);
		form {
			
			h1 {
				font-family: inherit;
				font-weight: 200;
			}
			#mce-EMAIL {
				margin-top: 50px;
				background-color: rgba(255,255,255,0);
				border: none;
				border-bottom: 1px solid white;
				font-size: 2em;
				font-weight: 200;
			}
			.button {
				width: 100%;
				height: 50px;
				background-color: rgba(255,255,255,0);
				border: 1px solid white;
				color: white;
				text-transform: uppercase;
				&:hover {
					background-color: rgba(255,255,255,0.1);
				}
			}
			.mce_inline_error {
				background: none;
				color: white;
			}
			.mce-responses * {
				background: none;
				color: white !important;
			}
			.indicates-required {
				display: none;
			}
			.mc-field-group label {
				display: none;
			}
		}
	}
}

#valueProposition {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.2em;
		font-weight: 200;
	}
}

#core-features {
	padding-top: 0;
	.background-image {
		position: relative;
		background-size: cover;
		background-position: center;
		height: 400px;
	}
	.connected {
		background-image: image-url("connected.jpg");
	}
	.intuitive {
		background-image: image-url("intuitive.jpg");
	}
	.intelligent {
		background-image: image-url("intelligent.jpg");
	}
	.row > div {
		position: absolute;
		bottom: 0;
		padding: 140px 50px 50px 50px;
	}
	p {
		@media (max-width: 768px) {
		font-size: 1.2em;
		}
	}

	h1 {
		@media (max-width: 768px) {
		font-size: 30px;
		}
	}
}

#features-pricing {
	padding-top: 110px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	.feature {
		padding: 50px;
		@media (max-width: 768px) {
		padding: 30px;
	}
	}
	h2 {
		font-size: 20px;
		font-weight: 400;
		color: rgb(0,140,180);
	}
	p {
		color: rgb(150,150,150);
	}
	
}

#signup {
	padding-top: 50px;

	padding-bottom: 50px;	
	.download {
		padding: 0;
		#mc_embed_signup {
			height: 100%;
			background-color: rgba(255,255,255,0);
			form {
				padding-left: 0;
				h1 {
					font-family: inherit;
					font-weight: 200;
				}
				#mce-EMAIL {
					margin-top: 50px;
					background-color: rgba(255,255,255,0);
					border: none;
					border-bottom: 1px solid white;
					font-size: 2em;
					font-weight: 200;
				}
				.button {
					width: 100%;
					height: 50px;
					background-color: rgba(255,255,255,0);
					border: 1px solid white;
					color: white;
					text-transform: uppercase;
					&:hover {
						background-color: rgba(255,255,255,0.1);
					}
				}
				.mce_inline_error {
					background: none;
					color: white;
				}
				.mce-responses * {
					background: none;
					color: white !important;
				}
				.indicates-required {
					display: none;
				}
				.mc-field-group label {
					display: none;
				}
			}
		}
	}


	#footer {
		text-align: center;
		
		
		
		p {
			color: white;
			margin-top: 25px;
		}
	}
}

.button {
	display: inline-block;
	text-align: center;
	vertical-align: text-center;
	font-size: 1em;
	font-weight: 300;
	color: white;
	padding: 10px;
	margin: 5px;
	background-color: rgba(255,255,255,0);
	border: 1px solid white;
	border-radius: 5px;
	text-transform: uppercase;
	&.button-blue {
		color: rgb(0,140,180);
		border: 1px solid rgb(0,140,180);
		&:hover {
			background-color: rgba(0,140,180,0.1);
			color: rgb(0,140,180);
		}
	}
	&:hover {
		background-color: rgba(255,255,255,0.1);
		text-decoration: none;
		color: white;
	}
}

#howitworks {
	background-color: darken(white, 10%);
}

#features {
	text-align: center;
	background-color: rgb(30,30,30);
	color: white;
	hr {
		border-top: 1px solid gray;
	}
	.row {
		overflow-x: hidden;
	}
	.screenshot {
		width: 15vw;
		padding: 10px;
		@media (max-width: 1200px) { width: 30vw; }
		@media (max-width: 768px) { width: 90vw; }

	}
}

@media (min-width: 768px) { }

#cta {
	background-color: rgb(30,30,30);
	

}

#outro {
	height: 500px;
	background-image: image-url("outro.jpg");
	background-size: cover;
	background-position: center;
	padding: 0;
	.row {
		height: 100%;
		margin: 0;
		.download {
			height: 100%;
			color: black;
			padding: 0;
			#mc_embed_signup {
				height: 100%;
				background-color: rgba(255,255,255,0.8);
				form {
					padding-top: 100px;
					p {
						color: black;
					}
				}
			}
		}
	}

}


#press {
	padding-top: 20px;
	h1 {
		padding-top: 100px;
	}
	.assets-preview {
		img {
			width: 100%;
		}
	}
	.roles {
		img {
			width: 200px;
			margin: 25px;
		}
		a {
			font-size: 2em;
			color: rgb(0,140,180);
			font-weight: 300;
		}
	}
}

#team {
	padding-top: 20px;
	h1 {
		padding-top: 100px;
	}
	.assets-preview {
		img {
			width: 100%;
		}
	}
	.roles {
		img {
			width: 175px;
			display: block;
			margin: 75px auto 25px;
		}
		a {
			font-size: 1.8em;
			color: rgb(0,140,180);
			font-weight: 300;
		}
	}
}

.appStoreButton {
	width: 220px;
	margin-bottom: 70px;
}

.appStoreButtonFooter {
	width: 150px;
}












