html, body {

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	min-width: 100%;
}

.dark-red {
	color: #991A45;
}

.navbar {
	margin-bottom: 0;
}

h1 {
	font-size: 3.5em;
	font-weight: 200;
}

h2 {
	font-size: 3em;
	font-weight: 100;
}

h3 {
	font-size: 2em;
	font-weight: 200;
}

p {
	font-size: 1.4em;
	color: rgba(0,0,0,0.65);
	font-weight: 300;

	.sub-text {
		font-size: 0.7em !important;
		font-weight: 400;
	}
}

ul {
	padding-bottom: 30px;
	li {
		font-size: 1.4em;
		color: rgba(0,0,0,0.65);
		font-weight: 300;
	}
}

.gray {
	color: gray;
}


.emphasize-color {
	color: #00ccff;
}

.dark-blue {
	color: rgb(0,140,180);
}

.section {
	padding-top: 150px;
	padding-bottom: 150px;
}

.section-top {
	padding-top: 0;
}

.dark {
		color: white;
	p {
		color: darken(white, 25%);
	}
}

.shadow {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

.bluebg {
	background: rgb(41,93,145);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmU2Y2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(41,93,145,1) 0%, rgba(130,230,203,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295d91', endColorstr='#82e6cb',GradientType=1 ); /* IE6-8 */
}








#intro {
	height: 700px;
	background-image: image-url("intro2.png");
	background-size: cover;
	background-position: center;
	background-color: rgb(30,30,30);
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	.row {
		margin-top: 450px;
		h1 {
			font-size: 2.5em;
			
		}
		p {
			color: white;
		}
	}
	
	// background: rgb(41,93,145);
	// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmU2Y2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	// background: -moz-linear-gradient(left,  rgba(41,93,145,1) 0%, rgba(130,230,203,1) 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(left,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(to right,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295d91', endColorstr='#82e6cb',GradientType=1 ); /* IE6-8 */

}

.app-icon {
	height: 100px;
}

#logo-header {
	position: absolute !important;
	left: 0;
	top: 0;
	height: 100px;
	max-width: 400px;
	margin: 0;

	.app-icon {
		display: inline-block;
		vertical-align: top;
		height: 120px;
		padding: 20px;
	}

	.app-title-box {
		display: inline-block;
		vertical-align: top;
		color: rgba(255,255,255,0.8);
		padding-top: 20px;
		.app-title {
			font-weight: 100;
			line-height: 15px;
			color: black;
		}
		.app-subtitle {
			font-size: 1.3em;
			font-weight: 200;
			color: rgba(0,0,0,0.8);
			letter-spacing: 0.3px;
		}
	}

}
	
#demo {


	.schedule {
		padding-top: 180px;
	}	


	.mockup {
		position: relative;
		top: -130px;
		height: 800px;
		width: 415px;
		margin: 0 auto;

		.placeholder {
			position: relative;
			.iPhoneMockup {
			height: 800px;
			}

			.arrowRight {
				width: 200px;
				position: absolute;
				left: -180px;
				top: 200px;
			}

			.arrowLeft {
				width: 200px;
				position: absolute;
				right: -180px;
				top: 490px;
			}

		}

		.demoVideo {
			position: absolute;
			top: 105px;
			left: 50px;
		}

	}


	.todo {
		padding-top: 180px;
	}


}


#meettrevor {
	padding-top: 110px;
	background-color: rgb(30,30,30);
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	h3 {
		font-size: 1.7em;
	}
}

#valueProposition {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.2em;
		font-weight: 200;
	}
}

#core-features {
	.row-mid {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.feature-image {
		height: 500px;
	}
	p {
		margin-bottom: 30px;
	}
}

#howitworks {
	background-color: darken(white, 10%);
}

#features {
	text-align: center;
	background-color: rgb(30,30,30);
	color: white;
	hr {
		border-top: 1px solid gray;
	}
	.row {
		overflow-x: hidden;
	}
	.screenshot {
		width: 15vw;
		padding: 10px;
		@media (max-width: 1200px) { width: 30vw; }
		@media (max-width: 768px) { width: 90vw; }

	}
}

@media (min-width: 768px) { }

#cta {
	background-color: rgb(30,30,30);
	text-align: center;

}

#outro {
	height: 700px;
	background-image: image-url("outro.jpg");
	background-size: cover;
	background-position: center;
	padding: 0;
	.row {
		height: 100%;
		margin: 0;
		#download {
			height: 100%;
			color: black;
			padding: 0;
			#mc_embed_signup {
				height: 100%;
				background-color: rgba(255,255,255,0.8);
				form {
					padding-top: 200px;
					p {
						color: black;
					}
				}
			}
		}
	}

}

#footer {
	
	a {
		display: inline-block;
		font-size: 1.2em;
		font-weight: 300;
		color: #00ccff;
		padding: 0 30px;
		margin-bottom: 15px;

	}
	
}