html, body {

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Helvetica Neue', 'Roboto', Arial, sans-serif;
	min-width: 100%;
}

.navbar {
	margin-bottom: 0;
}

h1 {
	font-size: 3.5em;
	font-weight: 200;
}

h2 {
	font-size: 3em;
	font-weight: 100;
}

h3 {
	font-size: 2em;
	font-weight: 200;
}

h4 {
	font-size: 1.6em;
	font-weight: 300;
}

p {
	font-size: 1.4em;
	color: rgb(90,90,90);
	font-weight: 400;

	.sub-text {
		font-size: 0.7em !important;
		font-weight: 400;
	}
}

ul {
	padding-bottom: 30px;
	li {
		font-size: 1.4em;
		color: rgba(0,0,0,0.65);
		font-weight: 300;
	}
}

hr.margin {
	border-bottom: 2px solid rgb(235,235,235);
	margin: 30px 0;
}

.gray {
	color: gray;
}

.light-gray {
	color: rgb(170,170,170);
}

.dark-red {
	color: #991A45;
}

.zen-green {
	color: rgb(67,179,164);
}

.emphasize-color {
	color: #00ccff;
}

.dark-blue {
	color: rgb(0,140,180);
}

.section {
	padding-top: 150px;
	padding-bottom: 150px;
}

.section-top {
	padding-top: 0;
}

.dark {
		color: white;
	p {
		color: darken(white, 25%);
	}
}

.shadow {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

.bluebg {
	background: rgb(41,93,145);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWQ5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MmU2Y2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(41,93,145,1) 0%, rgba(130,230,203,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(41,93,145,1) 0%,rgba(130,230,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295d91', endColorstr='#82e6cb',GradientType=1 ); /* IE6-8 */
}

.faded {
	opacity: 0.5;
}

.flip-img {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.vertical-align {
	display: flex;
    align-items: center;
}


#intro {
	height: 700px;
	color: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	.row {

		.logo {
			width: 301px;
			margin-top: 120px;
		}

		h4 {
			margin-top: 50px;
			line-height: 1.5em;
		}
	}
	.download {
		form {
			padding: 0;
		}
	}

	&.intro-short {
		height: 400px;
		padding-top: 0;
		padding-bottom: 0;
		.logo {
			margin-top: 60px;
		}
	}
}

#intro-small {
	height: 300px;
	color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	.logo {
		width: 200px;
		margin-top: 60px; 
	}
	h3 {
		margin-top: 25px;
		a {
			color: rgba(255,255,255,0.6);
			text-decoration: underline;
			&:hover {
				color: rgba(255,255,255,0.8);
			}
		}
	}
}

#header {
	height: 80px;
	.row {
		height: 100%;
		> div {
			height: 100%;
		}
	}
	.logo2 {
		height: 60px;
		margin: 10px;
	}
	.nav {
		height: 100%;
		padding: 0 50px 0 0;
		li {
			height: 100%;
			display: inline-block !important;
			a {
				height: 100%;
				padding: 15px 20px;
			    line-height: 45px;
			    color: white;
			    font-size: 0.8em;
			    &:hover {
			    	background: rgba(255,255,255,0.1);
			    	text-decoration: underline;
			    }
			    &.signin {
			    	font-weight: bold;
			    	// background-color: rgba(255,255,255,0.5);
			    	// color: rgb(0,140,180);
			    }
			}
			&.active {
				a {
					background: rgba(255,255,255,0.1);
				}
			}
		}
	}
}

#intro-bot {
	h1 {
		font-size: 40px;
		color: rgb(0,140,180);
		margin: 100px 10px 50px 10px;
		@media (max-width: 768px) {
		font-size: 2.2em;
		
	}
	}
}

.chatbox {
	max-width: 500px;
	margin: 80px auto;
	&.chatbox-wide {
		width: 700px;
	}
	.row {
		@media (max-width: 768px) {
		margin: 5px;
		}
	}
}

.chatbox-small {
	max-width: 500px;
	margin: 80px auto;
}

.availability {
	height: 100px;
	margin-bottom: 30px;
	p {
		font-size: 1em;
		font-color: rgb(145,145,145);
	}
	img {
		height: 70px;
		margin: 0 auto;

	}
}

.bubble {
	min-height: 40px;
	max-height: 120px;
	max-width: 600px;
	@media (max-width: 768px) {
	}
	background: rgb(235,235,235);
	border-radius: 30px;
	display: inline-block;
	margin: 10px;
	p {
		font-size: 1.5em;
		line-height: 30px;
		margin: 10px 30px;
	}
	&.bubble-self {
		background: rgb(0,140,180);
		p {
			color: white;
			text-align: right;
		}
	}
	&.bubble-trevor {
		background-image: image-url('trevor-avatar.png');
		background-repeat: no-repeat;
		background-position: 8px 8px;
		background-size: 35px;
		p {
			// text-indent: 20px;
			margin-left: 50px;
		}
	}
	&.bubble-actions {
		margin-top: -7px;
		background: none;
		border: 2px solid rgb(235,235,235);
		max-height: none;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				height: 40px;
				width: 100%;
				color: rgb(0,140,180);
				text-align: center;
				padding: 5px 70px 0 70px;
				&:not(:last-child) {
					border-bottom: 2px solid rgb(235,235,235);
				}
				&.card {
					height: 70px;
					color: rgba(0,0,0,0.65);
				}
			}
		}
		
	}
}

.chatbox-small {
	.bubble {
		min-height: 30px;
		max-height: 90px;
		max-width: 600px;
		@media (max-width: 768px) {
		}
		background: rgb(235,235,235);
		border-radius: 20px;
		display: inline-block;
		margin: 10px;
		p {
			font-size: 1em;
			line-height: 20px;
			margin: 8px 20px;
		}
		&.bubble-self {
			background: rgb(0,140,180);
			p {
				color: white;
				text-align: right;
			}
		}
		&.bubble-trevor {
			background-image: image-url('trevor-avatar.png');
			background-repeat: no-repeat;
			background-position: 8px 5px;
			background-size: 25px;
			text-align: left;
			p {
				// text-indent: 20px;
				margin-left: 40px;

			}
		}
		&.bubble-actions {
			margin-top: -7px;
			background: none;
			border: 2px solid rgb(235,235,235);
			max-height: none;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					font-size: 1.2em;
					height: 33px;
					width: 100%;
					color: rgb(0,140,180);
					text-align: center;
					padding: 5px 70px 0 70px;
					&:not(:last-child) {
						border-bottom: 2px solid rgb(235,235,235);
					}
					&.card {
						height: 60px;
						color: rgba(0,0,0,0.65);
					}
				}
			}
			
		}
	}
}

.app-icon {
	height: 100px;
}

	
#framework {
	max-width: 100%;
	background-color: rgb(245,245,245);
	padding-top: 50px;
	@media (max-width: 992px) {
		// padding-bottom: 200px;
		h2, p, h1 {
			text-align: center;
		}
	}
	h2 {
		color: rgb(0,140,180);
		font-weight: 300;
		font-size: 2.5em;
		&.text-left {
			margin-left: 38px;
		}
	}
	hr {
		margin: 75px 0;
	}

	p {
		font-size: 1.2em;
		&.text-left {
			margin-left: 38px;
		}
	}
	.benefitList {
		text-align: left;
		margin-bottom: 0;
		padding-top: 30px;
		padding-bottom: 0;
		list-style: none;
		li {
			min-height: 60px;
			vertical-align: center;
			font-size: 1.2em;
		}
		.positive {
			background: image-url("checkmark.png") no-repeat left top;
			background-size: 30px;
			padding: 3px 3px 3px 40px;
			margin: 0; 
		}
		.negative {
			background: image-url("x.png") no-repeat left top;
			background-size: 30px;
			padding: 3px 3px 3px 40px;
			margin: 0; 
		}
		.quote {
			color: rgb(170,170,170);
			padding-top: 20px;
		}
	}
	hr.small {
		margin: 10px 0 20px 0;
	}
	p.probability {
		text-align: left;
		padding-left: 38px;
		color: rgb(200,200,200);
	}
	img {
		width: 70%;
		@media (max-width: 992px) {
			max-width: auto !important;
		}
	}
	.add_to_schedule {
		width: 650px;
		margin: 20px 0;
		@media (max-width: 992px) {
			width: 100%;
			padding-right: 20px;
		}
	}
	.focus {
		width: 650px;
		margin: 50px 0;
		@media (max-width: 992px) {
			width: 100%;
		}
	}
	.matt {
		width: 250px;
		position: absolute;
		right: 5%;
		bottom: 0;
		@media (max-width: 992px) {
			bottom: -250px;
		}
	}
	.path_left_right, .path_right_left {
		width: 35%;
		margin: 20px 35% 20px auto;
		&.path_pull_right {
			margin: 20px auto 20px 35%;
		}
	}
	.path_main {
		width: 70%;
		margin: 20px 0;
	}
	.path_straight {
		height: 100px;
		width: auto;
		margin: 30px auto;
	}
	a {
		text-decoration: none;
	}
	#card_share {
		background: rgb(255,255,255);
		font-size: 1.3em;
		border-radius: 7px;
		width: 350px;
		height: 70px;
		color: black;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
	}
	.card_share {
		height: 100%;
		width: 100%;
		border-radius: 7px;
		background: image-url("heart.png") no-repeat 17px 17px;
		background-size: 40px;
		padding: 22px 20px 18px 35px;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
		&:hover {
			box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
			background: image-url("checkmark_green.png") no-repeat 17px 22px;
			background-size: 40px;
			text-decoration: none;
			text-decoration: line-through;
			-o-transition:.5s;
			-ms-transition:.5s;
			-moz-transition:.5s;
			-webkit-transition:.5s;
			transition:.5s;
		}
		&.completedState {
			background: image-url("checkmark_green.png") no-repeat 17px 22px;
			background-size: 40px;
			text-decoration: line-through;
		}
	}


	&.fi-framework {
		.intro {
			padding: 0 50px;
		}
		.path_straight {
			width: 3px;
		}
		.subtitle {
			font-size: 1.5em;
		}
		.stats {
			padding-left: 180px;
		}
		img.weapons {
			width: 350px;
			margin: 40px 0;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.30);
		}
	}
	.quote {
		max-width: 500px;
		margin: 70px auto 50px auto;
		padding: 20px;
		border-left: 4px solid rgb(230,230,230);
		p {
			font-size:1.5em;
		}
	}

}

#demo {
	max-width: 100%;
	.schedule {
		padding-top: 180px;
		@media (max-width: 1200px) { 
			font-size: 0.8em;
		}
	}	
	.mockup {
		position: relative;
		top: -130px;
		height: 700px;
		width: 415px;
		margin: 0 auto;
		@media (max-width: 992px) {
			width: 100% !important;
			max-width: 300px;
		}

		.placeholder {
			position: relative;
			width: 100%;
			text-align: center;
			// @media (max-width: 768px) {
			// width: 500px;
			// }

			.iPhoneMockup {
			height: 800px;
			@media (max-width: 992px) {
					max-height: 550px;
				}
			}

			.macbookMockup {
				width: 630px;
				margin: 0 auto;
				@media (max-width: 992px) {
					width: 630px;
				}
				@media (max-width: 650px) {
					width: 340px;
				}
			}

			.arrowRight {
				width: 200px;
				position: absolute;
				left: -180px;
				top: 200px;
			}

			.arrowLeft {
				width: 200px;
				position: absolute;
				right: -180px;
				top: 490px;
			}
		}
		.demoVideo {
			position: absolute;
			top: 105px;
			left: 50px;
			text-align: center;
			@media (max-width: 992px) {
				top: 75px;
				left: 8,5%;
				iframe {
					width: 480px;
				}
			}
			@media (max-width: 650px) {
				// width: 300px;
				// height: 214px;
				left: 18.3%;
				top: 9% !important;
				iframe {
					width: 260px;
					height: 160px;
				}
			}
			&.web {
				top: 35px;
				left: 74px;
			}
		}

		h3 {
			padding-top: 20px;
		}


	}
	.todo {
		padding-top: 180px;
		@media (max-width: 1200px) { 
			padding-left: 100px;
			font-size: 0.8em;
		}
	}

	&.web-demo {
		.mockup {
			width: 630px;
			height: auto;
			@media (max-width: 992px) {
				width: 630px;
				max-width: 100%;
			}
			.placeholder {
				.arrowRight {
					width: 150px;
					left: -130px;
					top: 100px;
				}

				.arrowLeft {
					width: 150px;
					right: -130px;
					top: 100px;
				}
			}
		}
		.schedule {
			font-size: 0.9em;
			padding: 30px 20px 10px 0px;
		}
		.todo {
			font-size: 0.9em;
			padding: 30px 0px 10px 20px;
		}
	}
}




#meettrevor {
	background-color: rgb(30,30,30);
	color: white;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 90px;
	h3 {
		font-size: 1.7em;
		font-weight: 300;
		line-height: 1.7em;
	}
	.faded {
		opacity: 0.60;
	}
}

.download {
	padding: 0;
	#mc_embed_signup {
		height: 100%;
		background-color: rgba(255,255,255,0);
		form {
			
			h1 {
				font-family: inherit;
				font-weight: 200;
			}
			#mce-EMAIL {
				margin-top: 50px;
				background-color: rgba(255,255,255,0);
				border: none;
				border-bottom: 1px solid white;
				font-size: 2em;
				font-weight: 200;
			}
			.button {
				width: 100%;
				height: 50px;
				background-color: rgba(255,255,255,0);
				border: 1px solid white;
				color: white;
				text-transform: uppercase;
				&:hover {
					background-color: rgba(255,255,255,0.1);
				}
			}
			.mce_inline_error {
				background: none;
				color: white;
			}
			.mce-responses * {
				background: none;
				color: white !important;
			}
			.indicates-required {
				display: none;
			}
			.mc-field-group label {
				display: none;
			}
		}
	}
}

#valueProposition {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 2.2em;
		font-weight: 200;
	}
}

#core-features {
	padding-top: 0;
	.background-image {
		position: relative;
		background-size: cover;
		background-position: center;
		height: 400px;

	}
	.connected {
		background-image: image-url("connected.jpg");
	}
	.intuitive {
		background-image: image-url("intuitive.jpg");
	}
	.intelligent {
		background-image: image-url("intelligent.jpg");
	}
	.planning {
		background-image: image-url("web-planning.jpg");
	}
	.focus {
		background-image: image-url("web-focus.jpg");
	}
	.progress {
		background-image: image-url("web-progress.jpg");
		margin-bottom: 0;
	}
	.bot-demo {
		background-image: image-url("bot-demo.jpg");
		background-position: center top;
	}
	.row > div {
		position: absolute;
		bottom: 0;
		padding: 140px 50px 50px 50px;
	}
	p {
		font-weight: 400;
		color: black;
		@media (max-width: 768px) {
		font-size: 1.2em;
		}
	}

	h1 {
		@media (max-width: 768px) {
		font-size: 30px;
		}
	}
	&.features-web {
		.background-image {
			height: 500px;
		}
	}
}

#what-is-trevor {
	@media (min-width: 992px) {
		padding-top: 50px;
	}
	.row {
		& > div {
			padding: 0 50px;
		}
	}
	img {
		height: 100px;
		opacity: 0.2;
	}
}

#testimonials {
	padding-top: 100px;
	padding-bottom: 100px;
	.row {
		& > div {
			padding: 20px 50px;
		}
	}
}

#proof-of-concept {
	padding-bottom: 100px;
	p {
		span {
			color: rgb(0,140,180);
			font-size: 2.5em;
			font-weight: 200;
		}
	}
}

#features-pricing {
	padding-top: 110px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	.feature {
		padding: 50px;
		@media (max-width: 768px) {
		padding: 30px;
	}
	}
	h2 {
		font-size: 20px;
		font-weight: 400;
		color: rgb(0,140,180);
	}
	p {
		color: rgb(150,150,150);
	}
	
}


#signup {
	padding-top: 0;

	padding-bottom: 50px;	
	.download {
		padding: 0;
		#mc_embed_signup {
			height: 100%;
			background-color: rgba(255,255,255,0);
			form {
				padding-left: 0;
				h1 {
					font-family: inherit;
					font-weight: 200;
				}
				#mce-EMAIL {
					margin-top: 50px;
					background-color: rgba(255,255,255,0);
					border: none;
					border-bottom: 1px solid white;
					font-size: 2em;
					font-weight: 200;
				}
				.button {
					width: 100%;
					height: 50px;
					background-color: rgba(255,255,255,0);
					border: 1px solid white;
					color: white;
					text-transform: uppercase;
					&:hover {
						background-color: rgba(255,255,255,0.1);
					}
				}
				.mce_inline_error {
					background: none;
					color: white;
				}
				.mce-responses * {
					background: none;
					color: white !important;
				}
				.indicates-required {
					display: none;
				}
				.mc-field-group label {
					display: none;
				}
			}
		}
	}


	#footer {
		text-align: center;
		
		
		
		p {
			color: white;
			margin-top: 25px;
		}
	}
}

.button {
	display: inline-block;
	text-align: center;
	vertical-align: text-center;
	font-size: 1em;
	font-weight: 300;
	color: white;
	padding: 10px;
	margin: 5px;
	background-color: rgba(255,255,255,0);
	border: 1px solid white;
	border-radius: 5px;
	text-transform: uppercase;
	&.button-blue {
		color: rgb(0,140,180);
		border: 1px solid rgb(0,140,180);
		&:hover {
			background-color: rgba(0,140,180,0.1);
			color: rgb(0,140,180);
		}
	}
	&:hover {
		background-color: rgba(255,255,255,0.1);
		text-decoration: none;
		color: white;
	}
	&.button-blue-solid {
		color: white;
		background-color: rgb(0,140,180);
		border: none;
		&:hover {
			background-color: rgba(0,140,180,0.9);
			color: white;
		}
	}
}

#howitworks {
	background-color: darken(white, 10%);
}

#features {
	text-align: center;
	background-color: rgb(30,30,30);
	color: white;
	hr {
		border-top: 1px solid gray;
	}
	.row {
		overflow-x: hidden;
	}
	.screenshot {
		width: 15vw;
		padding: 10px;
		@media (max-width: 1200px) { width: 30vw; }
		@media (max-width: 768px) { width: 90vw; }

	}
}

@media (min-width: 768px) { }

#cta {
	background-color: rgb(30,30,30);
	

}

#outro {
	height: 500px;
	background-image: image-url("outro.jpg");
	background-size: cover;
	background-position: center;
	padding: 0;
	.row {
		height: 100%;
		margin: 0;
		.download {
			height: 100%;
			color: black;
			padding: 0;
			#mc_embed_signup {
				height: 100%;
				background-color: rgba(255,255,255,0.8);
				form {
					padding-top: 100px;
					p {
						color: black;
					}
				}
			}
		}
	}

}


#press {
	padding-top: 20px;
	h1 {
		padding-top: 100px;
	}
	.assets-preview {
		img {
			width: 100%;
		}
	}
	.roles {
		img {
			width: 200px;
			margin: 25px;
		}
		a {
			font-size: 2em;
			color: rgb(0,140,180);
			font-weight: 300;
		}
	}
}

#team {
	padding-top: 20px;
	h1 {
		padding-top: 100px;
	}
	.assets-preview {
		img {
			width: 100%;
		}
	}
	.roles {
		img {
			width: 175px;
			display: block;
			margin: 75px auto 25px;
		}
		a {
			font-size: 1.8em;
			color: rgb(0,140,180);
			font-weight: 300;
		}
	}
}

.appStoreButton {
	width: 220px;
	margin-bottom: 70px;
}

.appStoreButtonFooter {
	width: 150px;
}

.bottom-nav {
	max-width: 450px;
	height: 100px;
	margin-bottom: 30px;
	a {
		display: inline-block;
		
		margin: 0 auto;
		color: white;
		padding: 15px;
		background: rgb(0,140,180);
		border-radius: 5px;
	}
}

#webDemo {
	height: 100vh;
	@media (max-width: 768px) {

	}
	background: image-url('webapp.jpg') no-repeat center;
	background-size: cover;
}

.logo2IconOnly {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	margin: 10px;
	margin-left: 20px;
	background: image-url('logo2.png');
	background-size: 237px 60px;
	background-repeat: no-repeat;
	background-position: center left;
	overflow-x: hidden;
}

#listDemo {
	padding: 15px 30px 30px 30px;
	.search {
		width: 100%;
		input {
			width: 100%;
			min-height: 40px;
			background: rgb(230,230,230);
			border-radius: 10px;
			border: 5px solid rgba(0,0,0,0);
			&::placeholder {
				font-size: 1.25em;
				text-align: center;
				color: rgb(150,150,150);
			}
		}
	}
	.taskLists {
		.listTitle {
			font-style: italic;
			font-size: 2em;
			font-weight: 200;
			color: rgb(150,150,150);
		}
		.list {
			border-top: 1px solid rgb(230,230,230);
			padding: 0;
			margin: 0 30px 0 30px;
			list-style: none;
			li {
				width: 100%;
				height: 50px;
				font-size: 1.5em;
				font-weight: 300;
				color: rgb(0,140,180);
				line-height: 50px;
				border-bottom: 1px solid rgb(230,230,230);
			}
		}
	}
}

#scheduleDemo {
	background-color: rgb(245,245,245);
	padding: 15px;
	.timeline {
		margin-top: -20px;
		padding: 0 8px;
		height: 800px;
		
		p {
			color: rgb(150,150,150);
			font-size: 1.1em;
			font-weight: 400;
			line-height: 40px;
			text-align: right;

		}


	}
	.schedule {
		height: 800px;
		padding-left: 3px;
		padding-right: 8px;
		border-left: 4px solid rgb(220,220,220);
		.daySection {
			background-color: white;
			border-radius: 15px;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
			padding: 5px 5px 5px 10px;
			margin: 5px;
			h2 {
				font-size: 1.25em;
				font-weight: 300;
				color: rgb(220,220,220);
				margin: 0 0 0 45px;
				line-height: 40px;
			}
			p {
				color: rgb(0,140,180);
				font-size: 1.25em;
				font-weight: 300;
				margin: 0;
				padding-left: 45px;
				line-height: 30px;
			}
			&.morning {
				height: 145px;
			}
			&.work {
				height: 295px;
			}
			&.evening {
				height: 145px;
			}
			&.night {
				height: 195px;
			}
			.daySectionIcon {
			
				height: 40px;
				
				background-size: 30px;
				background-repeat: no-repeat;
				background-position: center left;

				&.iconMorning {
					background-image: image-url('scheduleMorning.png');		
				}
				&.iconWork {
					background-image: image-url('scheduleWork.png');		
				}
				&.iconAfternoon {
					background-image: image-url('scheduleAfternoon.png');		
				}
				&.iconEvening {
					background-image: image-url('scheduleEvening.png');		
				}
				&.iconNight {
					background-image: image-url('scheduleNight.png');		
				}
			}
		}
	}
}

.sign-up-button {
	font-size: 1.5em;
	// font-weight: 400px;
	color: white;
}
.sign-up-button-blue {
	display: block;
	margin: 20px auto;
	font-size: 1.5em;
	max-width: 250px;
}

.cc-window {
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

